@import url('https://fonts.cdnfonts.com/css/genos');
.lg-text{
        font-size: 26px;
}

.img-home{
        height: 400px;
        width: 700px;
}

body{
     background-color: lightgray;   
}

.eighties-header {
        font-family: 'Genos', sans-serif;
}

figcaption{
        padding: 1em 1em 1em 1em;
        margin: 1em 1em 1em 1em;
        width: 50%;
        float: right;
        font-size: 28px;
}

#home_img{
        display: block;
        max-width:60%;
        max-height:auto;
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }